.root {
    -fx-background-color: medium-blue;
    gray: #868686;
}

.gray{
    -fx-text-fill: gray;
}

.gray-light *{
    -fx-fill: text-color;
    -fx-stroke: text-color;
}

.left-vbox{
    -fx-padding: 30px;
    -fx-spacing: 35px
}

.btn-box{
    -fx-spacing: 20px
}

.right-vbox{
    -fx-padding: 30px;
    -fx-spacing: 30px;
}

.liste-projet{
    -fx-spacing: 10px;
}

.hbox-projet{
    -fx-padding: 10px;
    -fx-background-color: dark-blue;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-pref-height: 50px;
}

.hbox-projet:hover .label{
    -fx-underline: true;
}

.hbox-projet:hover {
    -fx-background-color: #04111A;
}

.project-scroll{
    -fx-fit-to-width: true;
    -fx-background-color: transparent;
    -fx-padding: 20px;
}

.project-scroll .viewport{
    -fx-background-color: transparent;
}

.project-scroll > .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.project-scroll .increment-button,
.project-scroll .decrement-button,
.project-scroll .increment-arrow,
.project-scroll .decrement-arrow {
    -fx-padding: 0;
    visibility: hidden;
}

.project-scroll > .scroll-bar:vertical > .track{
    -fx-background-color: dark-blue;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;

    -fx-background-insets: 0 2.5 0 2.5;
}

.project-scroll > .scroll-bar:vertical > .thumb{
    -fx-background-color: text-color;
    -fx-background-insets: 0 0.5 0 0.5;

    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}


.project-menu .arrow-button {
    visibility: hidden;
}

.context-menu {
    -fx-background-color: dark-blue;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.menu-item{
    -fx-text-fill: text-color;
    -fx-font-size: 13px;
}

.menu-item .label{
    -fx-underline: false;
    -fx-text-fill: text-color;
}

.menu-item:hover, .menu-item:focused{
    -fx-background: #04111A;
}

.menu-item:hover .label, .menu-item:focused .label{
    -fx-text-fill: accent-color;
    -fx-underline: true;
}

.github-logo *{
    -fx-fill: text-color;
}