/*Root and variables used througout the code*/
.root{
    dark-blue: #08141f;
    medium-blue: #0b1926;
    gray-blue: #6C7C86;

    -fx-background-color: white;
}


/*Default classes*/
.medium-text{
    -fx-font-size: 16px;
}

.light-color{
    -fx-text-fill: gray-blue;
}

/*Search Bar CSS*/
#search-bar .text-field{
    -fx-font-family: "inter";

    -fx-background-color: transparent;
    -fx-text-fill: gray-blue;
    -fx-prompt-text-fill: gray-blue;
    -fx-max-width: 325px;
    -fx-pref-width: 300px;
}

#search-bar #search-icon *{
    -fx-stroke: gray-blue;
}

#search-bar .button{
    -fx-background-color: transparent;
    -fx-cursor: hand
}

#search-bar .button:hover *{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#search-bar .button:pressed *{
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

#search-bar .button *{
    -fx-stroke: gray-blue;
}



#search-bar{
    -fx-alignment: center-left;

    -fx-pref-width: 345px;
    -fx-pref-height: 49px;
    -fx-min-height: 49px;

    -fx-background-color: dark-blue;

    -fx-border-radius: 13px;
    -fx-background-radius: 13px;

    -fx-padding: 0 10.33px 0 10.33px;
}

/*Menu Composant CSS*/
#menu-composant{
    -fx-background-color: medium-blue;
    -fx-max-width: 396px;
    -fx-max-height: 1920;
    -fx-pref-height: 1000;

    -fx-padding: 23px 25px 23px;
    -fx-spacing: 23px;
}

#menu-composant .scroll-pane{
    -fx-fit-to-width: true;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;

    -fx-background-color: transparent;
    -fx-background: transparent;


}

#menu-composant .scroll-pane .vbox{
    -fx-spacing: 23px;
}

.separator .line{
    -fx-border-color: dark-blue;
    -fx-border-width: 1.5px;
    -fx-border-radius: 50%;
}

.grille-composants{
    -fx-background-color: dark-blue;

    -fx-border-radius: 13px;
    -fx-background-radius: 13px;
    -fx-padding: 12px 17.56px 0 17.56px;

    -fx-spacing: 10px;

    -fx-min-height: 100px;
}

.titre-box{
    -fx-spacing: 5px;
}

.grille-composants .separator .line{
    -fx-border-color: medium-blue;
    -fx-border-width: 1px;
    -fx-border-radius: 50%;
}

.btn-composant{
    -fx-min-height: 80px;
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.btn-composant .svg{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.btn-composant:hover{
    -fx-cursor: hand;
}

.btn-composant:hover .svg{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.btn-composant:pressed .svg{
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.btn-composant .svg *{
    -fx-stroke: gray-blue;
}

.btn-composant, .svg-fill .svg *{
    -fx-fill: gray-blue;
}

.tooltip{
       -fx-background-color: dark-blue;
       -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 4, 0, 0, 2); /* ombre plus légère */
       -fx-text-fill: gray-blue;
       -fx-font-size: 14px;
}

.grille-pane{
    -fx-hgap: 10px;
    -fx-vgap: 10px;

    -fx-alignement: top-left;
}

.top-hbox{
    -fx-background-color: medium-blue;
    -fx-max-width: 396px;
    -fx-alignement:center-left;
}

.top-hbox .menu-bar{
    -fx-background-color: medium-blue;
    -fx-font-family: "inter";
}

.top-hbox .menu-bar .menu:hover{
    -fx-background-color: dark-blue;
}

.vue-composant *{
    -fx-stroke: red;
}

.vue-composant.svg-fill .svg *{
    -fx-fill: red;
}

.vue-composant:hover{
    -fx-cursor: hand;
}

.vue-composant:hover.svg-fill .svg *{
    -fx-fill: orange;
}

.vue-composant:hover *{
    -fx-stroke: orange;
}