/*Root and variables used througout the code*/
.root{
    -fx-background-color: white;
    /*default-color: #08141f;
    hover-color: #0D1F31;
    focus-color: #021425;*/

    default-color: #08141f;
    hover-color: #0D1F31;
    focus-color: #021425;

}

/*Search Bar CSS*/
.search-bar .text-field{
    -fx-background-color: transparent;
    -fx-prompt-text-fill: gray-blue;
    -fx-max-width: 325px;
    -fx-pref-width: 300px;
}

.search-bar{
    -fx-pref-width: 345px;
    -fx-pref-height: 49px;
    -fx-min-height: 49px;

    -fx-background-color: dark-blue;

    -fx-border-radius: 13px;
    -fx-background-radius: 13px;

    -fx-padding: 0 10.33px 0 10.33px;
}

/*Menu Composant CSS*/
#menu-composant{
    -fx-background-color: medium-blue;
    -fx-max-width: 410px;
    -fx-max-height: 1920;
    -fx-pref-height: 1080;

    -fx-padding: 23px 25px 23px;
    -fx-spacing: 23px;
}

#menu-composant .scroll-pane{
    -fx-fit-to-width: true;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;

    -fx-background-color: transparent;
    -fx-background: transparent;

    -fx-pref-height: 1000;

}

#menu-composant .scroll-pane .vbox{
    -fx-spacing: 23px;
}

.separator .line{
    -fx-border-color: dark-blue;
    -fx-border-width: 1.5px;
    -fx-border-radius: 50%;
}

.grille-composants{
    -fx-background-color: dark-blue;

    -fx-border-radius: 13px;
    -fx-background-radius: 13px;
    -fx-padding: 12px 17.56px 0 17.56px;

    -fx-spacing: 10px;

    -fx-min-height: 100px;
}

.titre-box{
    -fx-spacing: 5px;
}

.grille-composants .separator .line{
    -fx-border-color: medium-blue;
    -fx-border-width: 1px;
    -fx-border-radius: 50%;
}

.btn-composant{
    -fx-min-height: 80px;
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.btn-composant .svg{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.tooltip{
       -fx-background-color: dark-blue;
       -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 4, 0, 0, 2); /* ombre plus légère */
       -fx-text-fill: gray-blue;
       -fx-font-size: 14px;
}

.grille-pane{
    -fx-hgap: 10px;
    -fx-vgap: 10px;

    -fx-alignement: top-left;
}

.top-hbox{
    -fx-background-color: medium-blue;
    -fx-max-width: 410px;
    -fx-alignement:center-left;
}

.top-hbox .menu-bar{
    -fx-background-color: medium-blue;
    -fx-font-family: "inter";
}

.top-hbox .menu-bar .menu:hover{
    -fx-background-color: dark-blue;
}

.vue-composant *{
    -fx-stroke: default-color;
}

.vue-composant .fill{
    -fx-fill: default-color;
}

.vue-composant:hover .fill{
    -fx-fill: hover-color;
}

.vue-composant:hover *{
    -fx-stroke: hover-color;
}

.vue-composant:focused *{
    -fx-stroke: focus-color;
}

.vue-composant:focused .fill{
    -fx-fill: focus-color;
}

.console{
    -fx-background-color: #031927;
    -fx-max-height: 300px;
}

.fil{
    -fx-stroke: default-color;
    -fx-stroke-width: 3.5;
    -fx-stroke-line-cap: round;
    -fx-stroke-line-join: bevel;
}

.fil:hover{
    -fx-stroke: hover-color;
}

.fil:focused{
    -fx-stroke: focus-color;
}

.vue-fil .fill{
   -fx-fill: default-color;
}

.vue-fil:hover .fill{
   -fx-fill: hover-color;
}

.vue-fil:focused .fill{
   -fx-fill: focus-color;
}
