.root {
    -composant-couleur: #031927;
    -composant-couleur-hover : #384B57;
}

.composant SVGPath{
    -fx-stroke: -composant-couleur;
}

.composant-fill *:not(.borne){
    -fx-fill: -composant-couleur;
}

.hovered *{
    -fx-stroke: -composant-couleur-hover;
}

.composant-fill.hovered *, .composant.hovered .borne{
    -fx-fill: -composant-couleur-hover;
}

.--white {
    -fx-stroke: #FFFFFF;
}

#--menu-composant{
-fx-background-color:#000000;
}