#mainVBox {
    -fx-background-color: #243242;
}
#bouttons {
    -fx-background-color: #243242, rgba(25, 35, 45, 0.9); /* base + overlay */;
    -fx-font-size: 20;
    -fx-text-fill: #CCD6E0;
    -fx-font-weight: bold;
    -fx-pref-width: 260px;
    -fx-pref-height: 60px;
    -fx-background-radius: 22px;
}
#textLogo {
   -fx-font-size:70;
   -fx-text-fill: #CCD6E0;
   -fx-font-weight: bold;
}
#bouttonsBleu {
   -fx-background-color: #54BAF8;
   -fx-font-size: 20;
   -fx-text-fill: #CCD6E0;
   -fx-font-weight: bold;
   -fx-pref-width: 260px;
   -fx-pref-height: 60px;
   -fx-background-radius: 22px;
}





